<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>473589585911-qurcudqii00t66lbk87k18qrnq4u3fdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473589585911-qurcudqii00t66lbk87k18qrnq4u3fdh</string>
	<key>API_KEY</key>
	<string>AIzaSyCVQECdasRJ7IyTEuI5cSDWqyeS8MBHjFM</string>
	<key>GCM_SENDER_ID</key>
	<string>473589585911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harisKhaliq.mosque-gazeteer</string>
	<key>PROJECT_ID</key>
	<string>mosque-gazeteer</string>
	<key>STORAGE_BUCKET</key>
	<string>mosque-gazeteer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473589585911:ios:ffeecaa88b8bcac4</string>
	<key>DATABASE_URL</key>
	<string>https://mosque-gazeteer.firebaseio.com</string>
</dict>
</plist>